header.header
  div.header-wrapper.g-flex-wrapper.g-flex-align-center.g-flex-justify-space-between
    h1.header-logo
      a(href='/' title='chillax')
        img(src='assets/images/header-logo.png' alt='chillax')
    nav.header-nav.g-flex-wrapper.g-flex-align-center
      a.header-nav-item.g-flex-wrapper.g-flex-align-center(href='lesson_list.html' title='線上課程')
        span.header-nav-item-icon
          img(src='assets/images/header-icon-lesson.png' alt='')
        span.header-nav-item-text 線上課程
      a.header-nav-item.g-flex-wrapper.g-flex-align-center(href='account_login.html' title='會員登入')
        span.header-nav-item-icon
          img(src='assets/images/header-icon-member.png' alt='')
        span.header-nav-item-text 會員登入
  div.header-scroll-dispatcher